.footer {

   &__mode {
      max-width: 201px;
      text-align: right;
      line-height: 30px;

      @media (max-width:$md2+px) {
         text-align: center;
      }

      span {
         font-weight: bold;
      }
   }

   &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      @media (max-width:$md2+px) {
         flex-direction: column;
         padding: 0;
      }


   }

   &__contact {
      @media (max-width:$md2+px) {
         margin: 20px 0;

      }
   }

   .top-contacts {
      @media (max-width:$md3+px) {
         display: flex;
         flex-direction: column;
      }
   }

   .top-contacts-item {
      margin-right: 34px;

      @media (max-width:$md3+px) {
         margin-right: 0;
         margin-bottom: 15px;
         text-align: center;
      }
   }

   iframe {
      width: 100%;
      height: 525px;
   }
}

.footer-top {
   @media (min-width:$md2+px) and (max-width:1170px) {
      font-size: 16px;
   }
}

.footer-top,
.footer-bottom {
   background-color: #1b1e2e;

   @media (max-width:$md2+px) {
      padding: 35px 0;
   }
}

.footer-bottom {
   font-size: 12px;
   text-align: right;


   @media (max-width:$md2+px) {
      text-align: center;

      span {
         margin-top: 15px;
      }
   }
}

.footer__logo {
   img {
      width: 105px;
   }
}