.section-important {
   min-height: 467px;
   background: url(../img/1.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.important-body {
   text-align: left;
   z-index: 3;
}

.important-title {
   color: #ffffff;
   @include adaptiv-font(36, 24);
   text-align: left;
   max-width: 704px;
   text-transform: uppercase;
   margin-bottom: 0;

   @media (max-width:$md3+px) {
      //margin-bottom: 30px;

   }
}

.important-text {
   @include adaptiv-font(24, 14);
   line-height: 18px;
   margin-bottom: 22px;

   @media (min-width:$md2+px) {
      line-height: 62px;
      margin-bottom: 37px;
   }
}

.important-btn {
   &:hover {
      .important__btn-icon {
         transform: translateX(30px);
      }
   }


}

.important__btn-icon {
   height: 30px;
   @extend .intro__btn-icon;

   @media (max-width:$md4+px) {
      margin: 0 20px;
   }
}

.important__btn-inner {
   align-items: center;
   @extend .intro__btn-inner;
}