.solve-title {
   color: #fff;

   @media (min-width:$md3+px) {
      margin: 0 auto 30px;
      max-width: 626px;
   }
}

.section-solve {
   margin-bottom: 0;

   &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url(../img/solve/solve-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media (min-width:1200px) {
         height: 594px;
      }
   }
}

.solve {
   &__body {
      background-image: url(../img/solve/solve-decor.png);
      background-position: right top;
      background-size: contain;
      background-color: #49556d;
      z-index: 1;
      position: relative;
      opacity: 0.96;
      padding: 45px 15px;
      max-width: 1300px;
      margin: 0 auto;

      @media (min-width:$md3+px) {
         padding: 70px;
      }
   }

   &__items {
      @media (min-width:$md2+px) {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   &__item {
      padding: 34px 26px;
      border: 1px solid #daa772;
      outline: 1px solid #daa772;
      outline-offset: -7px;
      margin-bottom: 30px;

      @media (max-width:$md3+px) {
         text-align: center;
      }

      @media (min-width:$md3+px) {
         display: flex;
         align-items: center;
      }

      @media (min-width:$md2+px) {
         flex: 1 1 47%;
         padding: 34px 26px 34px 45px;

         &:nth-child(odd) {
            margin-right: 30px;
         }

         &:last-child {
            margin: 0;
            width: 542px;
            flex: 0 1 542px;
            padding: 34px 0;
            text-align: center;
            justify-content: center;
         }
      }
   }

   &__item-icon {
      width: 54px;
      flex: 0 0 54px;

      @media (max-width:$md3+px) {
         margin: 0 auto 30px;
      }

      @media (min-width:$md3+px) {
         margin-right: 44px;
      }
   }

   &__item-text {
      @include adaptiv-font(20, 14);
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 1px;

      @media (max-width:$md3+px) {
         line-height: 20px;
      }
   }
}